body {
    background-color: rgb(30, 30, 30);
}
h2{
    color: white;
}
.card-img-top {
    aspect-ratio: 1/1;
    width:100%;
    object-fit: cover;
    object-position: right top;
}

.logo{
    width: 100px;
}

.scroller {
    text-align: left;
    overflow-x: scroll;
    box-sizing: border-box;
    scroll-snap-type: x mandatory;
}

.scroller div {
    width: 18rem;
    min-width: 300px;
    margin: 10px 10px;
}